html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0px;
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 24px;
}

.navbar-logo {
    width: auto;
    height: 50px;
    margin-right: 50px;
    margin-left: 100px;
}

.navbar-options {
    display: flex;
    align-items: left;
}

.navbar-options a {
    margin-left: 30px;
    color: #333;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
}

h1 {
    color: #333;
    border-bottom: 3px solid #ff9100;
    display: inline-block;
    font-weight: bolder;
}

article {
    margin-top: 20px;
    color: #333;
}

.main-section {
    padding: 50px 120px 0px 120px;
}

iframe {
    width: 100%;
    height: 900px;
    padding-bottom: 50px;
}

p {
    background-color: #fff;
    padding: 40px;
    font-size: 16px;
    line-height: 24px;
}

.img-cont {
    text-align: center;
    background-color: #fff;
}