html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(images/backdots.jpg);
    margin: 0px;
}

/**********/
/* NAVBAR */
/**********/

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 24px 128px 24px 128px;
}

.navbar-logo {
    width: auto;
    height: 50px;
    margin-right: 50px;
    margin-left: 100px;
}

.navbar-options {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-options a {
    margin-left: 30px;
    color: #333;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.navbar-options a:hover {
    color: darkorange;
}

.navbar-options a.active {
    color: darkorange;
    position: relative;
}

.navbar-options a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background-color: darkorange;
}

/***********/
/* CLASSES */
/***********/

h1 {
    color: #333;
    border-bottom: 3px solid #ff9100;
    display: inline-block;
    font-weight: bolder;
}

article {
    margin-top: 20px;
    color: #333;
}

.main-section {
    padding: 50px 120px 0px 120px;
}

iframe {
    width: 100%;
    height: 900px;
    padding-bottom: 50px;
}

p {
    background-color: #fff;
    padding: 40px;
    font-size: 16px;
    line-height: 24px;
}

.img-cont {
    text-align: center;
    background-color: #fff;
}

.background-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(images/backdots.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/**************/
/* Title Card */
/**************/

.intro-section {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.intro-section h3 {
    font-size: 80px;
}

.orange-text {
    color: #ff9100;
}

/***********/
/* Buttons */
/***********/

.button-row {
    display: flex;
    justify-content: center;
}

.circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.circle-button:hover {
    background-color: #b6b6b6;
}

.blue-button {
    background-color: #0077B5;
    color: white;
}

.black-button {
    background-color: #141414;
    color: white;
}

.gold-button {
    background-color: gold;
    color: black;
}

.red-button {
    background-color: red;
    color: white;
}
